// COLORS

$color-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-dark: #111;

$color-grey-dark-1: #191919;
$color-grey-dark-2: #222;

$color-rainbow-blue: #a0e9ff;
$color-rainbow-purple: #a162e8;
$color-rainbow-pink: #f093b0;
$color-rainbow-yellow: #edca85;

$color-pink: #ffc4ff;

// FONTS

$font-primary: "Roboto";
$font-secondary: "Noto Serif";
