// FONTS

$font-primary: Biotif-Regular;
$font-secondary: Bogart;

@font-face {
  font-family: Biotif-Regular;
  src: url(../fonts/Biotif-Regular.woff) format("woff");
}

@font-face {
  font-family: Bogart;
  src: url(../fonts/Bogart-Medium.woff) format("woff");
}

// ROOT

:root {
  --color-grey-light: #777;
  --color-grey-medium: #787878;
  --color-grey-dark: #2e2e2e;
  --color-dark-light: #222;
  --color-dark-medium: #191919;
  --color-dark-dark: #111;
  --color-white: #fff;
  --color-black: #000;

  --color-pink: #ffc4ff;
}

// COLORS

$color-rainbow-blue: #a0e9ff;
$color-rainbow-purple: #a162e8;
$color-rainbow-pink: #f093b0;
$color-rainbow-yellow: #edca85;
