@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Source+Sans+Pro&display=swap");
.container {
  max-width: 80rem;
  margin: auto;
  width: 100%;
  padding: 0 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.grid > [class*=column-] {
  display: block;
  padding: 1rem;
}

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 48rem) {
  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.u-margin-left {
  margin-left: auto !important;
}

:root {
  --color-grey-light: #777;
  --color-grey-medium: #787878;
  --color-grey-dark: #2e2e2e;
  --color-dark-light: #222;
  --color-dark-medium: #191919;
  --color-dark-dark: #111;
  --color-white: #fff;
  --color-black: #000;
  --color-pink: #ffc4ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  color: var(--color-white);
  line-height: 1.55;
  background: var(--color-dark-dark);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
}

figure,
ul {
  margin: 0;
}

.hero-title {
  font-family: "Lora";
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 1.27;
  margin: 0;
  background-clip: text;
  background: linear-gradient(250deg, #a0e9ff 10%, #a162e8 40%, #f093b0 60%, #edca85 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 30rem) {
  .hero-title {
    font-size: 5rem;
  }
}
@media (min-width: 62rem) {
  .hero-title {
    background: linear-gradient(250deg, #a0e9ff 55%, #a162e8 70%, #f093b0 85%, #edca85 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hero-title-sub {
  display: block;
}

.lead {
  font-size: 1rem;
}
@media (min-width: 62rem) {
  .lead {
    font-size: 1.1rem;
    max-width: 38rem;
  }
}

h3 {
  font-family: "Lora";
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 1.25rem 0 0.5rem;
  padding: 0;
  color: var(--color-white);
}
@media (min-width: 62rem) {
  h3 {
    font-size: 1.7rem;
  }
}

.about-info h2 {
  font-family: "Lora";
}
@media (min-width: 20rem) {
  .about-info h2 {
    letter-spacing: -2px;
    font-size: 2.3rem;
  }
}
@media (min-width: 62rem) {
  .about-info h2 {
    letter-spacing: -2px;
    font-size: 3rem;
  }
}

.footer-title {
  font-family: "Lora";
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: var(--color-white);
  background-clip: text;
  line-height: 1.25;
  background: linear-gradient(250deg, #a0e9ff 20%, #a162e8 40%, #f093b0 60%, #edca85 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 30rem) {
  .footer-title {
    font-size: 4rem;
  }
}

.footer-text {
  color: var(--color-white);
  font-size: 1.2rem;
}

.navigation {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1040;
  background: var(--color-dark-dark);
}
@media (min-width: 62rem) {
  .navigation {
    padding: 1.25rem 0;
    width: 100%;
  }
}

nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}
nav li {
  margin: 0 0.2rem 0 0;
}
@media (min-width: 48rem) {
  nav li {
    margin: 0 5rem 0 0;
  }
}
nav li:last-child {
  margin: 0;
}
nav li a {
  color: var(--color-white);
  transition: color 0.2s ease;
}
nav li a:focus, nav li a:hover {
  border-bottom: 3px solid var(--color-pink);
}
nav li .nav-logo {
  width: 1.4em;
}

#about {
  padding: 9rem 0;
}
@media (min-width: 62rem) {
  #about {
    padding: 15rem 0;
  }
}

.footer-container {
  text-align: center;
}

footer a {
  color: var(--color-white);
  border-bottom: var(--color-pink) 3px solid;
}

@media (min-width: 62rem) {
  .footer-container {
    padding-bottom: 9rem;
  }
}

.hero {
  padding: 9rem 0;
}
@media (min-width: 62rem) {
  .hero {
    padding-top: 15rem;
  }
}

#work {
  padding: 0;
}
#work a {
  display: block;
}
#work a figure {
  margin-bottom: 1.5rem;
}

.portfolio-item figure:hover .portfolio-img {
  -webkit-clip-path: inset(0.5rem);
  clip-path: inset(0.5rem);
}

.portfolio-item figure .portfolio-img {
  position: relative;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  overflow: hidden;
  transition: -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease;
  transition: clip-path 0.3s ease, -webkit-clip-path 0.3s ease;
}

.portfolio-item figure figcaption p {
  margin: 0;
  color: var(--color-white);
  font-weight: 400;
}
@media (min-width: 62rem) {
  .portfolio-item figure figcaption p {
    width: 100%;
    max-width: 500px;
  }
}

.portfolio-item .img-container {
  position: relative;
  display: block;
  overflow: hidden;
}

.img-work {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition-delay: 500ms;
}/*# sourceMappingURL=main.css.map */