.hero-loading span {
  width: 1em;
  height: 1em;
  margin: 1em 1em;
  background: $color-rainbow-blue;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.hero-loading {
  @media (min-width: 1000px) {
    padding-top: 30px;
  }
}

.hero-loading span:nth-child(2) {
  background: $color-rainbow-purple;
  animation-delay: 0.4s;
}

.hero-loading span:nth-child(3) {
  background: $color-rainbow-pink;
  animation-delay: 0.8s;
}

.hero-loading span:nth-child(4) {
  background: $color-rainbow-yellow;
  animation-delay: 1.2s;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}
