.navigation {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1040;
  background: var(--color-dark-dark);

  @media (min-width: 62rem) {
    padding: 1.25rem 0;
    width: 100%;
  }
}

nav {
  ul {
    display: flex;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0 0.2rem 0 0;

    @media (min-width: 48rem) {
      margin: 0 5rem 0 0;
    }

    &:last-child {
      margin: 0;
    }

    a {
      color: var(--color-white);
      transition: color 0.2s ease;

      &:focus,
      &:hover {
        border-bottom: 3px solid var(--color-pink);
      }
    }

    .nav-logo {
      width: 1.4em;
    }
  }
}
