*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: var(--color-white);
  line-height: 1.55;
  background: var(--color-dark-dark);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
}

figure,
ul {
  margin: 0;
}
