// HERO SECTION

h1 {
  color: var(--color-white);
  font-size: 2.25rem;
  font-weight: 600;
  font-family: $font-secondary;
  letter-spacing: -1.5px;
  line-height: 1.26;
  margin: 0;
  max-width: 15rem;

  background-clip: text;

  background: linear-gradient(
    250deg,
    $color-rainbow-blue 10%,
    $color-rainbow-purple 40%,
    $color-rainbow-pink 60%,
    $color-rainbow-yellow 90%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 62rem) {
  h1 {
    font-size: 4.9rem;
    max-width: 36rem;
  }
}

p.lead {
  font-size: 1.125rem;
  line-height: 2.2rem;
}

@media (min-width: 62rem) {
  p.lead {
    font-size: 1.2rem;
    max-width: 36rem;
  }
}

// WORK SECTION

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 1.25rem 0 0.5rem;
  padding: 0;
  color: var(--color-white);
  font-family: $font-secondary;
}

@media (min-width: 62rem) {
  h3 {
    font-size: 1.75rem;
  }
}

// ABOUT SECTION

h2 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--color-white);
  margin-top: 0px;
  font-family: $font-secondary;
}

@media (min-width: 62rem) {
  h2 {
    margin-top: 2rem;
    font-size: 2.125rem;
  }
}

.about {
  line-height: 2.2rem;
  margin: 2em 0 0;
  max-width: 35rem;
}

.link {
  color: var(--color-white);
  border-bottom: var(--color-pink) 3px solid;
}
