.footer-container {
  text-align: center;
}

footer a {
  color: var(--color-white);
  border-bottom: var(--color-pink) 3px solid;
}

.footer-container {
  @media (min-width: 62rem) {
    padding-bottom: 9rem;
  }
}
