.footer,
.footer-content {
  position: relative;
  z-index: 1000;
}

.footer-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 5em 0;

  @media (min-width: 992px) {
    padding: 14em 0;
    max-width: 790px;
  }
}

.footer-link {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid $color-pink;
}
