// HERO SECTION

.hero {
  overflow: hidden;
  position: relative;
  z-index: 1000;
  padding-top: 95px;
}

.hero-box {
  padding: 0;
  max-width: 90%;
  margin: 0 auto;

  @media (min-width: 544px) {
    padding: 2em 0 0;
  }

  @media (min-width: 1000px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 1300px) {
    padding: 3em 7em 3em 0;
  }

  @media (min-width: 1700px) {
    padding: 140px 6em 270px;
    max-width: 1600px;
  }
}
